In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [4]:
df = pd.read_csv('train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [5]:
df

      Age  Pclass  SibSp  Parch  Survived
0    22.0       3      1      0         0
1    38.0       1      1      0         1
2    26.0       3      0      0         1
3    35.0       1      1      0         1
4    35.0       3      0      0         0
..    ...     ...    ...    ...       ...
886  27.0       2      0      0         0
887  19.0       1      0      0         1
888   NaN       3      1      2         0
889  26.0       1      0      0         1
890  32.0       3      0      0         0

[891 rows x 5 columns]

In [6]:
df.dropna(inplace=True)

In [8]:
X = df.iloc[:,0:4]
y = df.iloc[:,-1]

In [11]:
%config Completer.use_jedi = False

In [12]:
X.head()

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0
1  38.0       1      1      0
2  26.0       3      0      0
3  35.0       1      1      0
4  35.0       3      0      0

In [18]:
np.mean(cross_val_score(LogisticRegression(),X,y,cv=20,scoring="accuracy"))

np.float64(0.6933333333333332)

<h2>Applying Feature Construction
</h2>

In [19]:
X['Family_size'] = X['SibSp'] + X['Parch'] +1

In [20]:
X.head()

    Age  Pclass  SibSp  Parch  Family_size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [25]:
def myfunc(num):
    if num==1:
        return 1 # alone
    elif num>1 & num<=4:
        return 2 #small fam
    else:
        return 3 #large fam

In [26]:
X['Family_type'] = X['Family_size'].apply(myfunc)

In [27]:
X.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  22.0       3      1      0            2            2
1  38.0       1      1      0            2            2
2  26.0       3      0      0            1            1
3  35.0       1      1      0            2            2
4  35.0       3      0      0            1            1

In [30]:
X.drop(columns=['SibSp','Parch','Family_size'],inplace=True)

KeyError: "['SibSp', 'Parch', 'Family_size'] not found in axis"

In [31]:
X.head()

    Age  Pclass  Family_type
0  22.0       3            2
1  38.0       1            2
2  26.0       3            1
3  35.0       1            2
4  35.0       3            1

In [ ]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))